/* SearchgByName */
.btn-search:focus{
    box-shadow: none !important;
}

/* HeroeCard */

.fullname,
.publisher,
.appearance{
    font-size: .9rem;
}

.btn-more{
    font-size: .8rem;
    box-shadow: none;
}

.btn-more:focus{
    box-shadow: none !important;
}

/* infoHero */
.return:focus{
    box-shadow: none !important;
}

@media(min-width:768px){
    /* card - card responsive */
    .card{
        width: 90%;
        margin: 0 auto;
    }

    .card-info{
        width: 100% !important;
    }

    .card-data{
        width: 65%;
    }

}

@media(min-width:992px){
    /* card - card responsive */
    .card-info{
        width: 80% !important;
    }

}